<div class="card draggable" data-task-id= "<%= task.id %>" >

	<div class="card-body">
		<h5 class="card-title"><%= task.title %></h5>
		<h6 class="card-due_date"><%= task.due_date %></h6>
		<p class="card-text"><%= task.description %></p>
	  <div class="btn-group">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#labelModal">Add Label</button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
      </button>
	  </div>
	</div>
</div>
	 <!-- Modal -->
  <div class="modal fade" data-backdrop="static" id="labelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <%= render 'labels/form', label: @label%>
    </div>
  </div>